
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1; }
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}


a { color:#c26306; text-decoration:none;}
a:link, a:visited { color: ##0088CC; text-decoration: none; }
a:active, a:hover { color: #b80707; text-decoration: none; }
h2 { font-family: Century Gothic, Arial; font-weight:lighter; font-size:50px;color: #FF9900;margin: 20px 0 30px 0; letter-spacing: -1.5px;}
h3 {font-family: Century Gothic, Arial; font-weight:lighter; font-size:35px;color:#f0a108;margin: 20px 0 30px 0;letter-spacing:5px; text-align:center;line-height:1.6 !important}
h4 {font-family: Century Gothic, Arial, serif; font-weight: lighter; font-size:30px; color: #333; margin: 20px 0 30px 0; text-align:center; 
line-height:60px; letter-spacing: 2px;}
h5 {font-family: Century Gothic, Arial; font-weight:lighter; font-size:85px;color: #333; text-align:center; letter-spacing: -1.5px;}
p {line-height:24px; font-size:13px;margin:0 0 10px 0;}

body {background:#FFFFFF;font:12px "Century Gothic", arial, Helvetica, sans-serif;color:#444;}
.container {margin: 0 auto;padding:10px;background:url(../images/bg.jpg) repeat;}
.site-logo {width:50px;}
.brand {text-decoration:none;}
.site-title{font-size: 40px;font-weight: bold;line-height: 48px;color: #004466}
.brand:hover{color: #0088CC;}
.site-description{color: #004466}
.home-content {height:auto !important}
.menu-style ul li a {text-align:center} 
ul.nav li {display:inline; font-size:15px; font-weight: normal; font-family:"Century Gothic", arial, Helvetica;}
ul.nav a {color:#666;text-decoration:none;}
ul.nav .active {color:#FF9900;}
.rightAbout {float:left;margin:0 0 0 15px;border-left:1px solid #b1b1b1;padding:0 50px;height:auto}
#containerAbout .rightAbout p{ font-weight:bolder;text-align:center}
.about-description p{font-size:19px;text-align:justify;}
.leftAbout {float:left;height:auto}
#contact {height:575px}
#contact .email-id {letter-spacing: 5px;line-height: 1.6 !important;font-size:24px;}
#contact p {text-align: center}
.footer { font-family:Century Gothic, arial, Helvetica; font-weight:normal; color: #999999; text-align: center; font-size:40px;}
.footer p {text-align:center;font-weight:bolder} 
